$cellSize: 50px;

#tembo-board-resizable {
  margin: 5px;

  #tembo-board {
    scale: var(--temboBoardScale);
    transform-origin: top left;
    display: grid;
    border: 2px solid black;
    position: relative;
    background: #f9cf69;
    box-shadow: 1px 1px 3px black;
    border-radius: 12px;
    overflow: hidden;

    .board-tile {
      grid-row-end: span 6;
      grid-column-end: span 6;
      background-image: url("img/boards.jpg");
      background-size: 300% 200%;
      outline: 1px solid #c49323;

      &[data-id="0"] {
        background-position: 0% 0%;
      }
      &[data-id="1"] {
        background-position: 50% 0%;
      }
      &[data-id="2"] {
        background-position: 100% 0%;
      }
      &[data-id="3"] {
        background-position: 0% 100%;
      }
      &[data-id="4"] {
        background-position: 50% 100%;
      }
      &[data-id="5"] {
        background-position: 100% 100%;
      }

      transform-origin: center center;
      transition: rotate 0.7s;
      &[data-rotation="0"] {
        rotate: 0deg;
      }
      &[data-rotation="1"] {
        rotate: 90deg;
      }
      &[data-rotation="2"] {
        rotate: 180deg;
      }
      &[data-rotation="3"] {
        rotate: 270deg;
      }
    }

    .board-start,
    .board-destination {
      width: 6 * $cellSize;
      height: 3 * $cellSize;
      // grid-row-end: span 3;
      // grid-column-end: span 6;
      background-image: url("img/board-ends.jpg");
      background-size: 100% 200%;
      outline: 1px solid #c49323;

      transform-origin: 25% 50%;
      &[data-rotation="0"] {
        rotate: 0deg;
      }
      &[data-rotation="1"] {
        rotate: 90deg;
      }
      &[data-rotation="2"] {
        rotate: 180deg;
      }
      &[data-rotation="3"] {
        rotate: 270deg;
      }

      &.flipped {
        transform-origin: 50% 50%;
        transform: scaleX(-1);
      }
    }
    .board-start {
      background-position: 0% 100%;
      position: relative;

      .energy-slot {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &#energy-0 {
          left: 205px;
          top: 54px;
        }
        &#energy-1 {
          left: 173px;
          top: 88px;
        }
        &#energy-2 {
          left: 213px;
          top: 105px;
        }
        &#energy-3 {
          left: 250px;
          top: 84px;
        }
        &#energy-4 {
          left: 256px;
          top: 43px;
        }
        &#energy-5 {
          left: 233px;
          top: 9px;
        }
        &#energy-6 {
          left: 191px;
          top: 5px;
        }
        &#energy-7 {
          left: 155px;
          top: 29px;
        }
        &#energy-8 {
          left: 120px;
          top: 53px;
        }
        &#energy-9 {
          left: 100px;
          top: 91px;
        }
        &#energy-10 {
          left: 61px;
          top: 104px;
        }
        &#energy-11 {
          left: 20px;
          top: 94px;
        }
        &#energy-12 {
          left: 7px;
          top: 55px;
        }
      }
    }

    .board-square {
      grid-row-end: span 3;
      grid-column-end: span 3;
      outline: 1px solid #e6bc5db2;
      z-index: 2;

      &.selectable {
        background: rgba(255, 0, 0, 0.15);
        cursor: pointer;
        z-index: 100;

        &:hover {
          background: rgba(255, 0, 0, 0.4);
        }
      }
    }

    .board-cell {
      grid-row-end: span 1;
      grid-column-end: span 1;
      border-radius: 50%;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;

      // &:hover {
      //   background: rgba(0, 255, 0, 0.26);
      //   cursor: pointer;
      // }

      // DEBUGGING
      &[data-type] {
        border-radius: 50%;
        opacity: 0.3;
      }
      &[data-type="0"] {
        background: rgba(128, 128, 128, 0.534);
      }
      &[data-type="1"] {
        background: white;
      }
      &[data-type="2"] {
        background: blue;
      }
      &[data-type="3"] {
        background: black;
      }
      &[data-type="4"] {
        background: purple;
      }
      &[data-type="10"] {
        background: green;
      }
      &[data-type="11"] {
        background: red;
      }
      &[data-type="12"] {
        background: brown;
      }
      &[data-type="13"] {
        background: teal;
      }
    }
  }

  @for $i from 5 through 10 {
    $t: 3 * $i;

    &[data-x="#{$t}"] {
      width: calc(var(--temboBoardScale) * #{$t * $cellSize + 4px});
      #tembo-board {
        width: $t * $cellSize;
        grid-template-columns: repeat($t, $cellSize);
      }
    }

    &[data-y="#{$t}"] {
      height: calc(var(--temboBoardScale) * #{$t * $cellSize + 4px});
      #tembo-board {
        height: $t * $cellSize;
        grid-template-rows: repeat($t, $cellSize);
      }
    }
  }
}
