.icon-container {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.08em;
  font-size: 1em;
}

.icon-flower-grey,
.icon-flower-blue,
.icon-flower-joker,
.icon-flower-red,
.icon-flower-white,
.icon-flower-yellow {
  height: 2em;
}

.icon-tree-1,
.icon-tree-2,
.icon-tree-3,
.icon-tree-4,
.icon-tree-5,
.icon-tree-6,
.icon-tree-7,
.icon-tree-8 {
  height: 2em;
}

.icon-animal-cassowary,
.icon-animal-hornbill,
.icon-animal-orangutan,
.icon-animal-rhinoceros,
.icon-animal-tiger {
  height: 2em;
}

.flowerBtn {
  padding: 1px 3px;
  font-size: 19px;

  &.placed {
    background: #8ef98e; // TODO : better
    pointer-events: none;
  }
}

.icon-zone-2 {
  height: 0.6em;
}
.icon-zone-3I {
  height: 0.6em;
}

.icon-zone-3L {
  height: 1.1em;
}
.icon-zone-4L {
  height: 1.1em;
}
.icon-zone-4O {
  height: 1.1em;
}
.icon-zone-4S {
  height: 1.1em;
}
.icon-zone-4T {
  height: 1.1em;
}
.icon-zone-5L {
  height: 1.7em;
}
.icon-zone-5S {
  height: 1.7em;
}

.icon-player {
  height: 2em;
}
.icon-tree {
  height: 2em;
}
.icon-paw {
  height: 2em;
}
.icon-ok {
  height: 2em;
}
.icon-nok {
  height: 2em;
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

@mixin icon-animal-cassowary {
  background: url("img/icons.png") no-repeat;
  background-position: 22.756756756756758% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-animal-hornbill {
  background: url("img/icons.png") no-repeat;
  background-position: 34.54054054054054% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-animal-orangutan {
  background: url("img/icons.png") no-repeat;
  background-position: 46.32432432432432% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-animal-rhinoceros {
  background: url("img/icons.png") no-repeat;
  background-position: 58.108108108108105% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-animal-tiger {
  background: url("img/icons.png") no-repeat;
  background-position: 69.89189189189189% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-flower-blue {
  background: url("img/icons.png") no-repeat;
  background-position: 81.67567567567568% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-flower-empty {
  background: url("img/icons.png") no-repeat;
  background-position: 93.45945945945945% 40.31476997578692%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-flower-grey {
  background: url("img/icons.png") no-repeat;
  background-position: 1.0810810810810811% 67.91767554479419%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-flower-multi {
  background: url("img/icons.png") no-repeat;
  background-position: 46.5553235908142% 62.61160714285714%;
  background-size: 1551.5151515151515%;
  aspect-ratio: 132 / 128;
}
@mixin icon-flower-red {
  background: url("img/icons.png") no-repeat;
  background-position: 12.864864864864863% 67.91767554479419%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-flower-white {
  background: url("img/icons.png") no-repeat;
  background-position: 24.64864864864865% 67.91767554479419%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-flower-yellow {
  background: url("img/icons.png") no-repeat;
  background-position: 36.432432432432435% 67.91767554479419%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 198;
}
@mixin icon-nok {
  background: url("img/icons.png") no-repeat;
  background-position: 98.34170854271356% 10.559006211180124%;
  background-size: 3531.0344827586205%;
  aspect-ratio: 58 / 58;
}
@mixin icon-ok {
  background: url("img/icons.png") no-repeat;
  background-position: 86.78391959798995% 58.07453416149069%;
  background-size: 3531.0344827586205%;
  aspect-ratio: 58 / 58;
}
@mixin icon-pangolin {
  background: url("img/icons.png") no-repeat;
  background-position: 23.946037099494095% 2.6490066225165565%;
  background-size: 761.3382899628252%;
  aspect-ratio: 269 / 269;
}
@mixin icon-paw {
  background: url("img/icons.png") no-repeat;
  background-position: 94% 2.4539877300613497%;
  background-size: 1034.3434343434344%;
  aspect-ratio: 198 / 209;
}
@mixin icon-player {
  background: url("img/icons.png") no-repeat;
  background-position: 98.78849066128218% 2.079002079002079%;
  background-size: 3056.7164179104475%;
  aspect-ratio: 67 / 62;
}
@mixin icon-tree {
  background: url("img/icons.png") no-repeat;
  background-position: 82.2450080949811% 2.484472049689441%;
  background-size: 1050.2564102564102%;
  aspect-ratio: 195 / 219;
}
@mixin icon-tree-1 {
  background: url("img/icons.png") no-repeat;
  background-position: 12.004287245444802% 2.73224043715847%;
  background-size: 1125.2747252747254%;
  aspect-ratio: 182 / 292;
}
@mixin icon-tree-2 {
  background: url("img/icons.png") no-repeat;
  background-position: 1.0729613733905579% 2.7359781121751023%;
  background-size: 1113.0434782608695%;
  aspect-ratio: 184 / 293;
}
@mixin icon-tree-3 {
  background: url("img/icons.png") no-repeat;
  background-position: 38.42020419129501% 2.635046113306983%;
  background-size: 1095.187165775401%;
  aspect-ratio: 187 / 265;
}
@mixin icon-tree-4 {
  background: url("img/icons.png") no-repeat;
  background-position: 49.384038564542045% 2.631578947368421%;
  background-size: 1131.4917127071822%;
  aspect-ratio: 181 / 264;
}
@mixin icon-tree-5 {
  background: url("img/icons.png") no-repeat;
  background-position: 60.14997321906802% 2.5412960609911055%;
  background-size: 1131.4917127071822%;
  aspect-ratio: 181 / 237;
}
@mixin icon-tree-6 {
  background: url("img/icons.png") no-repeat;
  background-position: 70.8779443254818% 2.5380710659898478%;
  background-size: 1137.7777777777778%;
  aspect-ratio: 180 / 236;
}
@mixin icon-tree-7 {
  background: url("img/icons.png") no-repeat;
  background-position: 11.83083511777302% 40.758873929008566%;
  background-size: 1137.7777777777778%;
  aspect-ratio: 180 / 207;
}
@mixin icon-tree-8 {
  background: url("img/icons.png") no-repeat;
  background-position: 1.0712372790573113% 40.80882352941176%;
  background-size: 1131.4917127071822%;
  aspect-ratio: 181 / 208;
}
@mixin icon-zone-2 {
  background: url("img/icons.png") no-repeat;
  background-position: 91.67089893346876% 57.012195121951216%;
  background-size: 2592.4050632911394%;
  aspect-ratio: 79 / 40;
}
@mixin icon-zone-3I {
  background: url("img/icons.png") no-repeat;
  background-position: 98.6017607457276% 57.012195121951216%;
  background-size: 1750.4273504273506%;
  aspect-ratio: 117 / 40;
}
@mixin icon-zone-3L {
  background: url("img/icons.png") no-repeat;
  background-position: 98.88268156424581% 35.20084566596194%;
  background-size: 2592.4050632911394%;
  aspect-ratio: 79 / 78;
}
@mixin icon-zone-4L {
  background: url("img/icons.png") no-repeat;
  background-position: 68.1512169860176% 59.30232558139535%;
  background-size: 1750.4273504273506%;
  aspect-ratio: 117 / 78;
}
@mixin icon-zone-4O {
  background: url("img/icons.png") no-repeat;
  background-position: 98.88268156424581% 45.56025369978858%;
  background-size: 2592.4050632911394%;
  aspect-ratio: 79 / 78;
}
@mixin icon-zone-4S {
  background: url("img/icons.png") no-repeat;
  background-position: 75.24598653547385% 59.30232558139535%;
  background-size: 1750.4273504273506%;
  aspect-ratio: 117 / 78;
}
@mixin icon-zone-4T {
  background: url("img/icons.png") no-repeat;
  background-position: 82.34075608493009% 59.30232558139535%;
  background-size: 1750.4273504273506%;
  aspect-ratio: 117 / 78;
}
@mixin icon-zone-5L {
  background: url("img/icons.png") no-repeat;
  background-position: 54.037267080745345% 61.852260198456456%;
  background-size: 1765.5172413793102%;
  aspect-ratio: 116 / 117;
}
@mixin icon-zone-5S {
  background: url("img/icons.png") no-repeat;
  background-position: 61.07660455486542% 61.852260198456456%;
  background-size: 1765.5172413793102%;
  aspect-ratio: 116 / 117;
}

.tembo-icon {
  background: url("img/icons.png");
  background-repeat: no-repeat;

  &.icon-animal-cassowary {
    @include icon-animal-cassowary;
  }

  &.icon-animal-hornbill {
    @include icon-animal-hornbill;
  }

  &.icon-animal-orangutan {
    @include icon-animal-orangutan;
  }

  &.icon-animal-rhinoceros {
    @include icon-animal-rhinoceros;
  }

  &.icon-animal-tiger {
    @include icon-animal-tiger;
  }

  &.icon-flower-blue {
    @include icon-flower-blue;
  }

  &.icon-flower-empty {
    @include icon-flower-empty;
  }

  &.icon-flower-grey {
    @include icon-flower-grey;
  }

  &.icon-flower-multi,
  &.icon-flower-joker {
    @include icon-flower-multi;
  }

  &.icon-flower-red {
    @include icon-flower-red;
  }

  &.icon-flower-white {
    @include icon-flower-white;
  }

  &.icon-flower-yellow {
    @include icon-flower-yellow;
  }

  &.icon-nok {
    @include icon-nok;
  }

  &.icon-ok {
    @include icon-ok;
  }

  &.icon-pangolin {
    @include icon-pangolin;
  }

  &.icon-paw {
    @include icon-paw;
  }

  &.icon-player {
    @include icon-player;
  }

  &.icon-tree {
    @include icon-tree;
  }

  &.icon-tree-1 {
    @include icon-tree-1;
  }

  &.icon-tree-2 {
    @include icon-tree-2;
  }

  &.icon-tree-3 {
    @include icon-tree-3;
  }

  &.icon-tree-4 {
    @include icon-tree-4;
  }

  &.icon-tree-5 {
    @include icon-tree-5;
  }

  &.icon-tree-6 {
    @include icon-tree-6;
  }

  &.icon-tree-7 {
    @include icon-tree-7;
  }

  &.icon-tree-8 {
    @include icon-tree-8;
  }

  &.icon-zone-2 {
    @include icon-zone-2;
  }

  &.icon-zone-3I {
    @include icon-zone-3I;
  }

  &.icon-zone-3L {
    @include icon-zone-3L;
  }

  &.icon-zone-4L {
    @include icon-zone-4L;
  }

  &.icon-zone-4O {
    @include icon-zone-4O;
  }

  &.icon-zone-4S {
    @include icon-zone-4S;
  }

  &.icon-zone-4T {
    @include icon-zone-4T;
  }

  &.icon-zone-5L {
    @include icon-zone-5L;
  }

  &.icon-zone-5S {
    @include icon-zone-5S;
  }
}
