.icon-container {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.08em;
  font-size: 1em;
}

.icon-lion {
  height: 2em;
}

.icon-support-token {
  aspect-ratio: 502/269;
  background-image: url("img/support.jpg");
  background-size: 100% auto;
  border: 1px solid #555;
  border-radius: 0.2em;
  box-shadow: 1px 1px 1px black;
  height: 1.3em;
}

@import "_icons.generated";
