.player-board {
  order: 2;
}

#info-panel {
  order: 1;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #404040;
  border: 1px solid #424242;

  .info-panel-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px 0px;
    border-bottom: 1px solid #80502e;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0px;
    }
  }

  #turn-counter-wrapper {
    // border-bottom: 1px solid #6a4b2f;
    margin: 0px 3px;
    text-align: center;
    font-size: 25px;
    font-family: "BerlinSans";
    display: block;
    position: relative;
  }

  #player_config {
    padding-bottom: 8px;
    margin-bottom: 4px;

    #help-mode-switch {
      zoom: 0.8;

      .checkbox {
        display: none;
      }

      .label {
        background-color: #2c3037;
        border-radius: 50px;
        cursor: pointer;
        display: inline-block;
        position: relative;
        height: 26px;
        width: 50px;
        margin-right: 4px;
      }

      .label .ball {
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
        height: 22px;
        width: 22px;
        transform: translateX(0px);
        transition:
          transform 0.2s linear,
          color 0.7s linear;
      }

      .checkbox:checked + .label .ball {
        transform: translateX(24px);
      }

      svg {
        width: 27px;
      }
    }
  }

  #energy-counter-holder {
    display: flex;
    font-family: "BerlinSans";

    .icon-energy {
      background-color: white;
      border: 1px solid #848181;
      box-shadow: 1px 1px 1px #595858;
      border-radius: 50%;
      width: 1.3em;
      margin-left: 4px;
    }

    .counter-separator {
      position: relative;
      top: 3px;
      margin: 0px 1px;
    }
    .counter-max {
      position: relative;
      top: 6px;
    }
  }

  #trees-holder {
    padding-bottom: 2px;
  }

  #landmarks-reserve {
    padding-top: 2px;
  }
}
