/********************
* HORIZONTAL LAYOUT *
********************/
body {
  overflow-x: hidden;
  max-width: 100vw;
}
#overall-content {
  overflow: initial !important;
  max-width: 100vw;
}

#tembo-main-container {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: center;

  #savanna-cards-container {
    position: relative;
    margin-right: 10px;
    width: 270px;
    flex-shrink: 0;

    background: #f0f0f0cc;
    border-radius: 5px;
    border: 1px solid #737373;

    #savanna-cards-container-sticky {
      position: sticky;
      top: 43px;

      #savanna-cards-container-resizable {
        transform-origin: top left;

        #savanna-cards-holder {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }

        // .construction-cards-stack {
        //   margin-bottom:10px;
        // }
      }
    }
  }

  #player-boards-container {
    flex-grow: 1;
    #player-boards-container-resizable {
      #player-board-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

/******************
* VERTICAL LAYOUT *
******************/
@media (max-width: 1160px) {
  #overall-content {
    overflow: hidden !important;
  }

  #tembo-main-container {
    // #tembo-main-container[data-mode="1"] {
    flex-flow: column;

    #savanna-cards-container {
      flex-basis: 100%;
      width: auto;
      margin-right: 0px;

      #savanna-cards-container-sticky {
        position: initial;

        #savanna-cards-container-resizable {
          transform-origin: top left;
          display: flex;
          flex-flow: row;

          #savanna-cards-holder {
            justify-content: center;
            width: 100%;
          }
        }
      }
    }
  }
}
