#logs .log.notif_newTurn .roundedbox,
.chatwindowlogs_zone .log.notif_newTurn.roundedbox {
  background: #337a45;
  text-align: center;
  color: #fff;
  border: 1px solid black;
  font-weight: bold;
  padding: 5px 2px 2px;
  font-size: 24px;
  font-family: "Hawlers Two";
  display: block;
  position: relative;
}

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}
