@import "_meeples.generated";

.tembo-meeple {
  &.meeple-tree-teal,
  &.meeple-tree-red,
  &.meeple-tree-brown,
  &.meeple-tree-green {
    height: 3em;

    transform-origin: bottom left;
    transition:
      transform 0.5s,
      opacity 0.5s;
    opacity: 1;
    transform: scaleY(1) skewX(0deg);

    &[data-state="0"] {
      // opacity: 0.7;
      // transform: scaleY(0.7) skewX(-25deg);

      &::before {
        content: "X";
        color: red;
        font-family: "BerlinSans";
        font-size: 1.5em;
        text-shadow:
          0px 0px 6px black,
          0px 0px 6px black,
          0px 0px 6px black;
        text-shadow:
          rgb(0, 0, 0) 3px 0px 0px,
          rgb(0, 0, 0) 2.83487px 0.981584px 0px,
          rgb(0, 0, 0) 2.35766px 1.85511px 0px,
          rgb(0, 0, 0) 1.62091px 2.52441px 0px,
          rgb(0, 0, 0) 0.705713px 2.91581px 0px,
          rgb(0, 0, 0) -0.287171px 2.98622px 0px,
          rgb(0, 0, 0) -1.24844px 2.72789px 0px,
          rgb(0, 0, 0) -2.07227px 2.16926px 0px,
          rgb(0, 0, 0) -2.66798px 1.37182px 0px,
          rgb(0, 0, 0) -2.96998px 0.42336px 0px,
          rgb(0, 0, 0) -2.94502px -0.571704px 0px,
          rgb(0, 0, 0) -2.59586px -1.50383px 0px,
          rgb(0, 0, 0) -1.96093px -2.27041px 0px,
          rgb(0, 0, 0) -1.11013px -2.78704px 0px,
          rgb(0, 0, 0) -0.137119px -2.99686px 0px,
          rgb(0, 0, 0) 0.850987px -2.87677px 0px,
          rgb(0, 0, 0) 1.74541px -2.43999px 0px,
          rgb(0, 0, 0) 2.44769px -1.73459px 0px,
          rgb(0, 0, 0) 2.88051px -0.838247px 0px;
      }
    }
  }

  &.meeple-landmark-meadow,
  &.meeple-landmark-rocks,
  &.meeple-landmark-waterfall,
  &.meeple-landmark-canyon,
  &.meeple-landmark-river,
  &.meeple-landmark-snow {
    height: 2em;
  }

  &.meeple-lion,
  &.meeple-lioness {
    height: 3.3em;

    transform-origin: bottom left;
    transition:
      transform 0.5s,
      opacity 0.5s,
      filter 0.5s;
    opacity: 1;
    transform: scaleY(1) skewX(0deg);
    filter: grayscale(0);

    &[data-state="0"] {
      opacity: 0.8;
      transform: scaleY(0.8) skewX(-20deg);
      filter: grayscale(0.3);
    }
  }

  &.meeple-energy {
    width: 36px;
    height: 36px;
    @include icon-energy;
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 3px black;
    border-radius: 50%;
  }
}

.tembo-meeple {
  &.meeple-elephant-1 {
    &[data-color="f07f16"] {
      @include meeple-elephant-1-orange;
    }
    &[data-color="ffa500"] {
      @include meeple-elephant-1-yellow;
    }
    &[data-color="982fff"] {
      @include meeple-elephant-1-purple;
    }
    &[data-color="000000"] {
      @include meeple-elephant-1-black;
    }
  }
  &.meeple-elephant-2 {
    &[data-color="f07f16"] {
      @include meeple-elephant-2-orange;
    }
    &[data-color="ffa500"] {
      @include meeple-elephant-2-yellow;
    }
    &[data-color="982fff"] {
      @include meeple-elephant-2-purple;
    }
    &[data-color="000000"] {
      @include meeple-elephant-2-black;
    }
  }
  &.meeple-elephant-3 {
    &[data-color="f07f16"] {
      @include meeple-elephant-3-orange;
    }
    &[data-color="ffa500"] {
      @include meeple-elephant-3-yellow;
    }
    &[data-color="982fff"] {
      @include meeple-elephant-3-purple;
    }
    &[data-color="000000"] {
      @include meeple-elephant-3-black;
    }
  }
  &.meeple-elephant-4 {
    &[data-color="f07f16"] {
      @include meeple-elephant-4-orange;
    }
    &[data-color="ffa500"] {
      @include meeple-elephant-4-yellow;
    }
    &[data-color="982fff"] {
      @include meeple-elephant-4-purple;
    }
    &[data-color="000000"] {
      @include meeple-elephant-4-black;
    }
  }
  &.meeple-elephant-5 {
    &[data-color="f07f16"] {
      @include meeple-elephant-5-orange;
    }
    &[data-color="ffa500"] {
      @include meeple-elephant-5-yellow;
    }
    &[data-color="982fff"] {
      @include meeple-elephant-5-purple;
    }
    &[data-color="000000"] {
      @include meeple-elephant-5-black;
    }
  }
}

#player_board_inner_f07f16 .meeple-elephant-1 {
  @include meeple-elephant-1-orange;
}
#player_board_inner_ffa500 .meeple-elephant-1 {
  @include meeple-elephant-1-yellow;
}
#player_board_inner_982fff .meeple-elephant-1 {
  @include meeple-elephant-1-purple;
}
#player_board_inner_000000 .meeple-elephant-1 {
  @include meeple-elephant-1-black;
}
