.player-board-game-specific-content {
  .player-info {
    display: flex;
    justify-content: space-around;

    .elephant-reserve-holder,
    .tired-elephant-reserve-holder,
    .matriarch-cards-counter-holder {
      font-family: "BerlinSans";
      display: flex;
      border-radius: 5px;
      padding: 2px 7px;
      align-items: center;
      font-size: 17px;

      span {
        margin-right: 1px;
      }

      .elephant-reserve {
        height: 2em;
        position: relative;
        margin-right: -5px;

        .tembo-meeple {
          position: absolute;
          top: 0;
          left: 0;
          visibility: hidden;
        }
      }
    }

    .tired-elephant-reserve-holder {
      border: 1px solid rgb(85, 85, 85);
      background: rgba(0, 0, 0, 0.1);
      opacity: 0.8;
    }

    .matriarch-cards-counter-holder {
      .matriarch-card {
        border: 1px solid black;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        background: #f7d06b;
        width: 30px;
        margin-left: 2px;

        background-image: url("img/cards.jpg");
        background-size: 800% 800%;
        background-position-x: 4 * 100% / 7;
        background-position-y: 6 * 100% / 7;

        .meeple-matriarch {
          display: none;
          width: 22px;
        }
      }
    }
  }
}

i.tired-icon {
  display: inline-flex;
  font-weight: bold;
  margin-top: -1rem;
  margin-left: -0.1rem;

  span {
    position: relative;
    display: block;
    transform-origin: center center;
  }

  span:first-child {
    top: -1px;
    rotate: -32deg;
    font-size: 0.8rem;
  }
  span:nth-child(2) {
    top: -6px;
    rotate: -23deg;
    font-size: 1rem;
    left: -1px;
  }
  span:nth-child(3) {
    top: -10px;
    rotate: -10deg;
    font-size: 1.1rem;
  }
}
