@import "variable";

#tembo-board {
  --temboSavannaCardScale: 0.57;

  .tembo-savanna-card {
    width: 150px;
    height: 150px;
    margin: 0px;
    transform-origin: center center;

    .tembo-savanna-card-wrapper {
      scale: 1;
      width: 150px;
      height: 150px;
      border: none;
      box-shadow: none;
    }
  }
}

.tembo-savanna-card {
  width: calc(var(--temboSavannaCardScale) * 256px);
  height: calc(var(--temboSavannaCardScale) * 256px);
  margin: 5px;
  position: relative;

  transition: rotate 0.5s;
  &[data-rotation="0"] {
    rotate: 0deg;
  }
  &[data-rotation="1"] {
    rotate: 90deg;
  }
  &[data-rotation="2"] {
    rotate: 180deg;
  }
  &[data-rotation="3"] {
    rotate: 270deg;
  }

  &#tmpCard {
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: white;
      opacity: 0.5;
      z-index: 2;
    }

    // #card-rotate-clockwise,
    // #card-rotate-cclockwise,
    // #card-confirm-btn {
    //   position: absolute;
    //   top: calc(50% - 20px);
    //   width: 40px;
    //   height: 40px;
    //   border-radius: 50%;
    //   background: white;
    //   border: 1px solid black;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   pointer-events: all;
    //   cursor: pointer;

    //   svg {
    //     height: 31px;
    //     width: 40px;
    //   }
    // }

    // #card-rotate-clockwise {
    //   right: -21px;
    // }
    // #card-rotate-cclockwise {
    //   left: -21px;
    // }

    // #card-confirm-btn {
    //   top: calc(85% - 15px);
    //   left: calc(85% - 15px);
    //   color: white;
    //   background: #4871b6;
    //   padding: 0px;
    //   margin: 0px;
    //   font-size: 20px;

    //   &.disabled {
    //     opacity: 1;
    //     background: linear-gradient(rgba(189, 189, 189, 0.8), rgba(166, 165, 165, 0.9));
    //     cursor: not-allowed;
    //     pointer-events: all;
    //   }
    // }
  }

  .tembo-savanna-card-wrapper {
    scale: var(--temboSavannaCardScale);
    transform-origin: top left;
    width: 248px;
    height: 248px;
    background-image: url("img/cards.jpg");
    background-size: 800% 800%;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 1px black;
    border: 4px solid white;
  }

  @for $i from 0 through 64 {
    &[data-type="#{$i}"] .tembo-savanna-card-wrapper {
      background-position-x: ($i % 8) * 100% / 7;
      background-position-y: (($i - ($i % 8)) / 8) * 100% / 7;
    }
  }

  &.selectable {
    cursor: pointer;
    .tembo-savanna-card-wrapper {
      box-shadow: 1px 1px 5px 2px red;
    }

    &:hover {
      transform: scale(1.04);
    }
  }
  &.selected {
    .tembo-savanna-card-wrapper {
      border-color: #fffb00;
      box-shadow: 0px 0px 5px 3px yellow;
    }
  }
}
