@import "variable";

#tembo-board {
  --temboSavannaCardScale: 0.57;

  .tembo-savanna-card {
    width: 150px;
    height: 150px;
    margin: 0px;
    transform-origin: center center;
    &[data-rotation="0"] {
      rotate: 0deg;
    }
    &[data-rotation="1"] {
      rotate: 90deg;
    }
    &[data-rotation="2"] {
      rotate: 180deg;
    }
    &[data-rotation="3"] {
      rotate: 270deg;
    }

    .tembo-savanna-card-wrapper {
      scale: 1;
      width: 150px;
      height: 150px;
      border: none;
      box-shadow: none;
    }
  }
}

.tembo-savanna-card {
  width: calc(var(--temboSavannaCardScale) * 256px);
  height: calc(var(--temboSavannaCardScale) * 256px);
  margin: 5px;
  position: relative;

  .tembo-savanna-card-wrapper {
    scale: var(--temboSavannaCardScale);
    transform-origin: top left;
    width: 248px;
    height: 248px;
    background-image: url("img/cards.jpg");
    background-size: 800% 800%;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 1px black;
    border: 4px solid white;
  }

  @for $i from 0 through 64 {
    &[data-type="#{$i}"] .tembo-savanna-card-wrapper {
      background-position-x: ($i % 8) * 100% / 7;
      background-position-y: (($i - ($i % 8)) / 8) * 100% / 7;
    }
  }

  &.selectable {
    cursor: pointer;
    .tembo-savanna-card-wrapper {
      box-shadow: 1px 1px 5px 2px red;
    }

    &:hover {
      transform: scale(1.04);
    }
  }
  &.selected {
    .tembo-savanna-card-wrapper {
      border-color: #fffb00;
      box-shadow: 0px 0px 5px 3px yellow;
    }
  }
}
