:root {
  --temboBoardScale: 1;
  --temboFlowerCardScale: 0.5;
  --temboEcosystemCardScale: 0.5;
}

$cardTypes: "" "bb" "yy" "rr" "ww" "gg" "by" "rw" "bw" "bg" "gr" "br" "yg" "gw" "yr" "yw" "gbr" "ybr" "wbr" "ybg" "ybw"
  "gbw" "yrg" "wrg" "wry" "wgy" "j";
